# Pandas Practice

In [7]:
import pandas as pd

In [18]:
mydataset={
    'cars' : ['bmw','alto','tesla'],
    'passings': [4,6,6]
}
var=pd.DataFrame(mydataset)
print(var)

    cars  passings
0    bmw         4
1   alto         6
2  tesla         6

## Pandas Series

In [32]:
a=[1,3,34,5]
myvar=pd.Series(a, index=["x","y","z","k"])
print(myvar)
print(myvar['k'])

x     1
y     3
z    34
k     5
dtype: int64
5

## DatFrame
        *** A pandas dataframe is 2D data structure like table with rows and columns***

In [43]:
mydataset={
    'cars' : ['bmw','alto','tesla'],
    'passings': [4,6,6]
}
myvar=pd.DataFrame(mydataset)
# print(myvar)
# myvar

# pandas use the loc attribute to return one or more specified row (s)
print(myvar.loc[[0,2,1]])
# we can change the index name of the row like index=["a","b"] then excess by the name of itb

    cars  passings
0    bmw         4
2  tesla         6
1   alto         6

#Read CSV File
*** we use to_string()  funtion for read the all the data from the dataframe

In [44]:
print(pd.options.display.max_rows)

60

#Read Jason File
df=pd.read_json('data.json')
jason=python dictionary form

In [48]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}
df=pd.DataFrame(data)
print(df)
# df.head() gives the uppper 5 data and df.tail() gives the lower 5 data
df.head(10)
print(df.info())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  6 non-null      int64
dtypes: int64(4)
memory usage: 240.0+ bytes
None